<!DOCTYPE html>
<html lang="en">
  <head>
    {% if user_data %}
    <title>{{ user_data.username }}</title>
    {% else %}
    <title>UNKNOWN USER</title>
    {% endif %}
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta property="og:title" content="Perfil do osu!droid" />
    <meta
      property="og:description"
      content="Woi, parece que alguém postou um link para um perfil do osu!droid..."
    />
    <meta property="og:type" content="website" />
    <meta
      name="og:image"
      itemprop="image"
      content="https://cdn.discordapp.com/icons/789604515028271154/a_73ec721f5311691d8136e7516047e38e.gif?size=1024"
    />
    <style>
      #main-div,
      #pp-data-div {
        display: flex;
        justify-content: center;
      }
      #pp-data-outer {
        display: flex;
        justify-content: center;
      }
      #data-div {
        width: 90vw;
        padding: 10px;
        border: 2.5px solid black;
        border-radius: 25px;
      }
      #avatar-img {
        border: 5px solid;
        border-radius: 25px;
      }
    </style>
  </head>
  <body class="grey lighten-3">
    {% include "../nav.html" %}<br /><br /><br />
    <main>
      <div id="main-div">
        <div id="data-div" align="center" class="grey lighten-3">
          {% if user_data %}
          <img
            id="avatar-img"
            src="{{ user_data.avatar_url }}"
            alt="{{ user_data.username }}"
          />
          <p style="font-weight: bold">{{ user_data.username }}</p>
          <p>DPP: {{ user_data.raw_pp}}pp<br /></p>
          <p>ACC: {{ user_data.overall_acc }}%<br /></p>
          <p>PlayCount: {{ user_data.playcount }}<br /></p>
          <p>Score: {{ user_data.total_score }}<br /></p>
          <p>UID: {{ user_data.user_id }}</p>
        </div>
      </div>
      <div id="pp-data-outer">
        <div id="data-div" class="grey lighten-3">
          {% if user_data.pp_data %} {% for top_play in user_data.pp_data %}
          <div class="row">
            <div class="col s12">
              <span class="play-rank"></span>{{ top_play.title }}
            </div>
          </div>
          <div class="row">
            <!-- prettier-ignore -->
            <div class="col s12">
              {{ top_play.combo }}x - <span class="mods">{{ top_play.mods }}</span> - {{top_play.accuracy }} - {{ top_play.miss }}miss - {{ top_play.pp}}pp
            </div>
          </div>
          <div class="divider"></div>
          {% endfor %} {% else %}
          <p>Não foi possivel adquirir dados sobre pp's</p>
          {% endif %}
        </div>
      </div>
      {% else %}
      <p>Usúario não encontrado, reação.</p>
      {% endif %}
      <script>
        const topPlayRanks = Array.from(
          document.getElementsByClassName("play-rank")
        );
        const mods = Array.from(document.getElementsByClassName("mods"));
        for (const [index, rank] of topPlayRanks.entries()) {
          rank.innerText = `${index + 1} - `;
        }
        mods.forEach((mod) => {
          if (mod.innerText.length === 0) {
            mod.innerText = "NM";
          }
        });
      </script>
    </main>
  </body>
</html>
