<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta property="og:url" content="/rank-br" />
    <meta property="og:title" content="o!d brasil lb" />
    <meta
      property="og:description"
      content="Os melhores jogadores brasileiros de osu!droid :)"
    />
    <meta property="og:type" content="website" />
    <meta name="og:image" itemprop="image" content="" />
    <title>BR-DPP leaderboard</title>
    <style>
      .player-data {
        text-align: center;
      }
      .player-data:hover {
        cursor: pointer;
        background-color: lightgray;
      }
    </style>
  </head>
  <body class="grey lighten-1">
    {% include "../nav.html" %}
    <main>
      <div id="top-players-div" class="grey lighten-1">
        {% if top_players_data %} {% for user in top_players_data %}
        <div class="player-data" class="grey lighten-3" onclick="location.href = '/user/{{ user.user_id }}'">
          <span class="row" >
            <!-- prettier-ignore -->
            <span class="col s12"
              ><h5>{{ user.username }}</h5>
            </span>
          </span>
          <span>
            <!-- prettier-ignore -->
            <span class="col s12"
              >DPP: {{ user.raw_pp }}<br />
              Acc: {{ user.overall_acc }}<br />
              Aim: <span class="aim">{{ user.aim }}</span><br />
              Speed: <span class="speed">{{ user.speed }}</span><br />
              Reading: <span class="reading">{{ user.reading }}</span><br />
              Consistency:
              <span class="consistency">{{ user.consistency }}</span><br />
              Playcount: <span class="playcount">{{ user.playcount}}</span
              ><br />
            </span>
          </span>
          <div class="divider"></div>
        </div>
        {% endfor %} {% else %}
        <p>Não foi possível resgatar os dados.</p>
        {% endif %}
      </div>
    </main>
  </body>
  <script>
    const aimValues = document.getElementsByClassName("aim");
    const speedValues = document.getElementsByClassName("speed");
    const readingValues = document.getElementsByClassName("reading");
    const consistencyValues = document.getElementsByClassName("consistency");
    [aimValues, speedValues, readingValues, consistencyValues].forEach(
      (item) => {
        Array.from(item).forEach((data) => {
          data.innerText = parseFloat(data.innerText).toFixed(2);
        });
      }
    );
  </script>
</html>
