<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <style>
    .dropdown-content {
      width: max-content !important;
      height: auto !important;
    }
    #userIdQuery {
      text-align: center;
    }
    .fixed-nav {
      position: fixed;
      top: 0;
    }
  </style>
</head>
<body>
  <header>
    <ul id="menu-dropdown" class="dropdown-content">
      <li class="divider">Discord server</li>
      <li><a href="/invite">DISCORD</a></li>
      <li class="divider">osu!</li>
      <li><a href="/rank-br">RANK-DPP-BR</a></li>
      <li><a href="/calc">PP CALCULATOR</a></li>
    </ul>
    <nav class="fixed-nav grey darken-3">
      <div class="nav-wrapper">
        <a class="brand-logo right hide-on-small-only">osu!droid brasil</a>
        <ul>
          <li>
            <a
              class="dropdown-trigger hide-on-large-only"
              data-target="menu-dropdown"
              ><i class="material-icons">menu</i></a
            >
          </li>
          <div class="hide-on-med-and-down">
            <li><a href="/invite">DISCORD</a></li>
            <li><a href="/rank-br">RANK-DPP-BR</a></li>
            <li><a href="/calc">PP CALCULATOR</a></li>
          </div>
          <li>
            <form onsubmit="getUserQuery(event); return false;">
              <div class="input-field">
                <input
                  id="userIdQuery"
                  type="text"
                  placeholder="Procurar por UID"
                  class="autocomplete white-text"
                />
              </div>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <script>
    function getUserQuery(event) {
      userIdQueryValue = userIdQuery.value;
      location.href = `/user/${userIdQueryValue}`;
    }
    const userIdQuery = document.getElementById("userIdQuery");
    userIdQuery.focus();
    $(document).ready(() => {
      $(".modal").modal();
      $(".dropdown-trigger").dropdown();
      $(window).scroll(() => {
        if ($(window).scrollTop() > 150) {
          $("nav").addClass("sticky-nav");
        }
      });
    });
  </script>
</body>
