<meta http-equiv="refresh" content="0; URL='https://discord.gg/6e6T6KSbKh'"/>
<meta property="og:url"
content="https://osu-droid-brasil.herokuapp.com/invite">
<meta property="og:title" content="BR SERVER" />
<meta property="og:description" content="Servidor criado para proporcionar um ambiente cool em que players do lindo jogo osu!droid podem conversar sobre o jogo em total harmonia e paz, tendo ainda um bot que se integra com o jogo que é capaz de exibir suas plays mais recentes e sua melhores plays, entre no global-chat e só vai." />
<meta property="og:type" content="website" />
<meta name="og:image" itemprop="image" content="https://cdn.discordapp.com/icons/789604515028271154/a_73ec721f5311691d8136e7516047e38e.gif?size=1024" />
